@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}





header{
    background:white;
    padding: 18px 0;
    border-bottom: 1px solid #272727;
}
.cabecalho{
  width: 500px;
}

.logo h2{
  font-family: 'Bebas Neue', cursive;
  font-weight:normal;
  font-size: 55px;
  margin-left: 25%;
}



/* botões e afins */

section{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
}

button {
    padding: 40px;
    font-size: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition:0.4s;
    background: rgb(240, 237, 237);
    color: black;
    margin-left:4px;
}
button:hover{
    transition:0.3s;
    background: #6e562c;
    color: white;
}
#botao1 {
    background: rgb(240, 237, 237);
    padding: 40px;
    font-size: 30px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition:0.4s;
    background: rgb(240, 237, 237);
    color: black;
}
#botao1:hover{
    transition:0.3s;
    background: #41331a;
    color: white;
}

.conteudo_2{
    transition: 0.4s;
    color:black;
    font-size:30px;
    font-weight: lighter;
    padding-top: 10%;
}

.conteudo_2 p{
    text-align: right;
}

p {
  transition: 1s;
}
@media (max-width: 600px){

  .cabecalho{
  width: 153px;
}
  .logo h2{
  font-family: 'Bebas Neue', cursive;
  font-weight:normal;
  font-size: 33px;
  margin-left: 0;
}
  #botao1 {
    padding: 3%;
    font-size:30px;
}
  button {
    padding: 3%;
    font-size: 30px;
}
  
}